
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#body {
  background:#232625;
  box-shadow:inset #222 0 0 10px;
}

.reveal {
    font-family: open_sansregular, sans-serif;
}

h1,h2,h3 {
  text-transform:none!important;
  text-shadow:0 0 20px #000;
    font-family: open_sansbold, sans-serif;
}

.em {
	color:#6AB825!important;
}

.em3 {
  color:#B3D929!important
}

.em4 {
  color:#ED9D13!important
}

.em2 {
  color:#00C0F7!important
}

.em5 {
  color:maroon!important;
}


h1 {
  font-size:2.5em!important;
  text-shadow:none!important;
}

h2 {
  font-size:2.0em!important;
}

body {
  background-image:none;
}

.reveal {
  z-index:1500;
}

#logo {
  border:0;
  height:240px;
  margin-top:-20px;
  z-index:100;
  position:relative;
}


#anchor {
  position:fixed;
  bottom:20px;
  left:20px;
  font-size:2em;
  background:rgba(0,0,0,1);
  padding:10px;
  text-decoration:none;
}

.big-code * {
  font-size:25px!important;
  line-height:30px!important;
}
.yom-table {
  width:100%;
  border-collapse:collapse;
}

.yom-table td,
.yom-table th {
  width:50%;
  text-align:center!important;
  border:5px solid #222;
  padding:10px;
}
.yom-table th {
  background:#00566f!important
}
.yom-table td {
  background:rgba(50,50,50,0.8);
}
#animation-inputs th.first,
#animation-inputs td.first {
  width:30%!important;
}
#animation-members th.first,
#animation-members td.first {
  width:20%!important;
}

.lefty {
  text-align:left;
  padding-left:50px;
}

.reveal pre code {
    max-height: 600px;
}

.kinect-logo {
    margin-bottom: 125px !important;
    margin-left: 30px !important;
}

.no-bg {
    background-color: transparent !important;
}

.reveal a.no-bg:hover {
    background-color: transparent;
}

.reveal a.no-bg {
    background-color: transparent;
}